.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.product-card {
  background-color: rgba(40, 40, 40, 0.85); /* semi transparente */
  border-radius: 10px;
  padding: 24px;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  display: flex;
  gap: 24px;
}



.product-card img {
  width: 180px; 
  height: auto;
  border-radius: 10px;
}


.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.product-info h3 {
  margin: 0;
  font-size: 24px; 
  color: #f8fafc;
}


.product-info p {
  margin: 6px 0;
  font-size: 18px;
  color: #cbd5e1;
}


.product-buttons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  flex-wrap: wrap;
}

.intro {
  max-width: 900px;
  margin: 0 auto 32px;
  padding: 16px;
  background-color: rgba(40, 40, 40, 0.85); /* semi transparente */
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  text-align: center;
}

.intro h2 {
  font-family: 'Metal Mania', cursive;
  font-size: 28px;
  color: #061115;
  margin-bottom: 12px;
}

.intro p {
  font-size: 16px;
  line-height: 1.6;
  color: #cbd5e1;
}
.favorites-count {
  font-size: 20px;
  color: #fbfbfb; 
  text-align: center;
  margin-bottom: 24px;
  font-family: 'Metal Mania', cursive;
}
.rating {
  font-size: 24px;
  color: gold;
  margin: 8px 0 16px;
}

button {
  background-color: #3a3a3a;
  color: #f1f1f1;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #555;
  color: #ffffff;
}

