body {
  background-color: #121212;
  background-image: url('./assets/dark-texture.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: #f1f1f1;
  font-family: 'Segoe UI', sans-serif;
  padding-top: 70px; /* Ajusta este valor si tu navbar es más alta */

}

   



h1, h2 {
  text-align: center;
  color: #38bdf8; 
  
}

button {
  background-color: #192b5b;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #142f67;
}

img {
  border-radius: 10px;
}

.product-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  background-color: rgba(40, 40, 40, 0.85); /* semi transparente */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.recommendations {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  background-color: rgba(64, 64, 64, 0.85); /* semi transparente */
  padding: 12px;
  border-radius: 8px;
  width: 160px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
  background-color: #475569;
}

h1 {
  font-family: 'Metal Mania', cursive;
  font-size: 36px;
  letter-spacing: 1px;
}
.metal-title {
  font-family: 'Metal Mania', cursive;
  font-size: 2.5rem;
  background: linear-gradient(135deg, #b8c6db, #a6a6a6, #c7c5c5);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s ease infinite;
  text-align: center;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


